@font-face {
  font-family: 'OKSLogov1-Regular';
  src: url('OKSLogov1-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* echte Italic dazu */
@font-face {
  font-family: "okslogov1-regular"; /* WICHTIG: gleicher Name wie oben */
  src: url("Plantin-LK-LightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;               /* WICHTIG */
  font-display: swap;
}
